
.header{
    padding: 10px 4em 30px;
    background-color: #1f2934;
    display: flex;
    justify-content: space-between;


}

.header-left{
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 20px;
    color:white;

}

.header-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:6px;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}


.main-page{
    padding:15px 4em 3em;
    background-color: #1f2934;
    color:white;
    display:flex;
    gap:20px;
    
}

.main-left{
    background-color: #1f2934;
    display: flex;
    flex-direction: column;
    
}

h2{
    font:48px extra-bold #f9faf8 ;
}

.main-left p{
    font: 18px #f9faf8;
}

.main-button{
   text-align: center; 
   background-color: #3882f6;
   color:#f9faf8;
   padding: 8px;
   margin-right:18em  ;

}
.main-right{
    background-color: rgb(66, 65, 65);
    position: relative;
    width: 18em;
    height: 12em;
}


.second-title{
    text-align: center;
    font-size: 30px; 
    font-weight: extra-bold;
    color: #1f2937;
    margin: 12px 5em 20px;
}

.second-mid{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin:20px 2em 20px;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
}

.box{
    position:relative;
    width:4 em;
    height: 5em;
    border:2px solid blue ;
    border-radius: 1ch;
    margin-bottom: 10px;
}

.info p{
    
    flex-shrink: 0;
}


.quote{
    
    margin:0 ;
    padding:35px  90px;
    background-color: #E5E7EB;
    font:36px light-italic #1f2937;
    text-align: center;
}

.end{
    background-color: #3882f6;
    padding:2px 8px;
    margin:4em 8em;
    border-radius: 1%;
    display:flex;
    justify-content: space-evenly;
}
.end-content{
    color:#E5E7EB; 
}
.end-content h4 {
    margin-bottom: 5px;
}
.end-content h6{
    margin-top: 5px;
}

.end-button{
    padding:5px;
    border:1px solid white;
    border-radius: 1%;
    text-align: center;
    align-self:center;
    color:#E5E7EB;
    background-color: #3882f6;
}

.end-button:hover{
    background-color: rgb(31, 3, 10);
}

footer{
    padding:6px 22px;
    text-align: center;
    color:#E5E7EB;
    font-size: 14px;
    background-color: #1f2934;
}